/* TO DO:  Make the following into the default no color icons, then add color when hovered or clicked .main_bottom_quiz, .main_bottom_story, .main_bottom_profile, .main_bottom_league, .main_bottom_shop */

.brandColors {
  /* CORE BRAND COLORS */
  color: #58cc02; /* FEATHER GREEN */
  color: #89e219; /* MASK GREEN */
  color: #777777; /* WOLF */
  color: #ffffff; /* WHITE */
  /* SECONDARY BRAND COLORS */
  color: #ff4b4b; /* CARDINAL */
  color: #ffc800; /* BEE */
  color: #ce82ff; /* BEETLE */
  color: #ff9600; /* FOX */
  color: #2b70c9; /* HUMPBACK */
  color: #1cb0f6; /* MACAW */
}
:root {
  /* group A */
  --color_a1_polar: #f7f7f7;
  --color_a2_swan: #e5e5e5;
  --color_a3_hare: #afafaf;
  --color_a4_wolf: #777777;
  --color_a5_eel: #4b4b4b;
  /* group B */
  --color_b1_squid: #ebe3e3;
  --color_b2_walkingFish: #ffdfe0;
  --color_b3_flamingo: #ffb2b2;
  --color_b4_pig: #f5a4a4;
  --color_b5_crab: #ff7878;
  --color_b6_cardinal: #ff4b4b;
  --color_b7_fireAnt: #ea2b2b;
  /* group C */
  --color_c1_canary: #fff5d3;
  --color_c2_duck: #fbe56d;
  --color_c3_bee: #ffc800;
  --color_c4_lion: #ffb100;
  --color_c5_fox: #ff9600;
  --color_c6_cheetah: #ffce8e;
  --color_c7_monkey: #e5a259;
  --color_c8_camel: #e7a601;
  --color_c9_guineaPig: #cd7900;
  --color_c10_grizzly: #a56644;
  /* group c - misc color */
  --color_c11_upperBeak: #ffcc00;
  /* group D */
  --color_d1_seaSponge: #d7ffb8;
  --color_d2_turtle: #a5ed6e;
  --color_d3_owl: #58cc02;
  --color_d4_treeFrog: #58a700;
  /* groud D - misc color */
  --color_d5_featherGreen: #58cc02;
  --color_d6_maskGreen: #89e219;

  /* group E */
  --color_e1_iguana: #ddf4ff;
  --color_e2_anchovy: #d2e4e8;
  --color_e3_beluga: #bbf2ff;
  --color_e4_moonJelly: #7af0f2;
  --color_e5_blueJay: #84d8ff;
  --color_e6_macaw: #1cb0f6;
  --color_e7_whale: #1899d6;
  --color_e8_humpback: #2b70c9;
  --color_e9_narwhal: #1453a3;
  /* group F */
  --color_f1_starfish: #ffaade;
  --color_f2_beetle: #ce82ff;
  --color_f3_betta: #9069cd;
  --color_f4_butterfly: #6f4ea1;
}

body {
  font-family: "Helvatica", Sans-Serif;
  font-size: 5vh;
  margin: 0vh;
  padding: 0vh;
}
.main_top {
  background-color: var(--color_a1_polar);
  height: 15vh;
  width: 100vw;
  outline: var(--color_a3_hare) 1px solid;
  display: flex;
  justify-content: space-between;
  color: var(--color_a3_hare);
}
.main_top_subject {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  font-size: 12.5vh;
}

/* subject --> drop down button */
.dropDownContainer {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownContainer a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: flex;
}

/* end subject --> drop down button */

.main_top_crowns {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  font-size: 12.5vh;
}

.main_top_streak {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  font-size: 12.5vh;
}

.main_top_hearts {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  font-size: 12.5vh;
}

.main_middle {
  background-color: var(--color_a1_polar);
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* ROW 1 */
.main_middle_circle1 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 42.5vw;
}
.main_middle_circle2 {
  background-color: var(--color_e5_blueJay);
  height: 15vh;
  width: 15vw;
  border-radius: 25px; /* rounded corner */
}
.main_middle_circle3 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 42.5vw;
}
/* ROW 2 */
.main_middle_circle4 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 23.33333vw;
}
.main_middle_circle5 {
  background-color: var(--color_e5_blueJay);
  height: 15vh;
  width: 15vw;
  border-radius: 25px; /* rounded corner */
}
.main_middle_circle6 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 23.33333vw;
}
.main_middle_circle7 {
  background-color: var(--color_e5_blueJay);
  height: 15vh;
  width: 15vw;
  border-radius: 25px; /* rounded corner */
}
.main_middle_circle8 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 23.33333vw;
}
/* ROW 3 */
.main_middle_circle9 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 23.33333vw;
}
.main_middle_circle10 {
  background-color: var(--color_e5_blueJay);
  height: 15vh;
  width: 15vw;
  border-radius: 25px; /* rounded corner */
}
.main_middle_circle11 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 23.33333vw;
}
.main_middle_circle12 {
  background-color: var(--color_e5_blueJay);
  height: 15vh;
  width: 15vw;
  border-radius: 25px; /* rounded corner */
}
.main_middle_circle13 {
  /* outline: var(--color_f3_betta) 1px solid; */
  height: 15vh;
  width: 23.33333vw;
}

.main_bottom {
  display: flex;
  justify-content: space-between;
  background-color: var(--color_a1_polar);
  height: 15vh;
  width: 100vw;
  outline: var(--color_a3_hare) 1px solid;
  color: var(--color_a3_hare);
}
.main_bottom_quiz {
  font-size: 12.5vh;
}

.main_bottom_story {
  font-size: 12.5vh;
}

.main_bottom_profile {
  font-size: 12.5vh;
}
.main_bottom_league {
  font-size: 12.5vh;
}
.main_bottom_shop {
  font-size: 12.5vh;
}

#quizGame {
  background-color: var(--color_a4_wolf);
  height: 100vh;
  width: 100vw;
}

.quizGame_top {
  background-color: var(--color_a1_polar);
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.quizGame_top_container_x_AND_progressBar_AND_hearts {
  background-color: var(--color_a1_polar);
  height: 15vh;
  width: 95vw;
  display: flex;
  justify-content: center;
}
.quizGame_top_x {
  background-color: var(--color_a1_polar);
  height: 5vh;
  width: 10vw;
  text-align: right;
}
.quizGame_top_x:hover {
  color: var(--color_a3_hare);
}
.quizGame_top_progressBar {
  width: 100%;
  background-color: var(--color_e6_macaw);
  height: 5vh;
  /* width: 80vw; */
  border-radius: 25px; /* rounded corner */
}
.quizGame_top_progressBar_percentComplete {
  width: 20%;
  background-color: var(--color_a3_hare);
  border-radius: 25px; /* rounded corner */
}

.quizGame_top_myBar {
  background-color: var(--color_d5_featherGreen);
  border-radius: 25px; /* rounded corner */
  height: 5vh;
  width: 100%;
}

.quizGame_top_myFullBar {
  background-color: var(--color_a2_swan);
  border-radius: 25px; /* rounded corner */
  height: 5vh;
  width: 50vw;
}

.quizGame_top_hearts {
  background-color: var(--color_a1_polar);
  height: 5vh;
  width: 10vw;
  text-align: left;
}

.quizGame_middle {
  background-color: var(--color_a1_polar);
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quizGame_middle_question {
  background-color: var(--color_a1_polar);
  height: 15px;
  width: 100vw;
  text-align: center;
}
.quizGame_middle_answerBoxes {
  background-color: var(--color_a1_polar);
  height: 55vh;
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.quizGame_middle_answer1 {
  background-color: var(--color_a1_polar);
  height: 25vh;
  width: 25vw;
  outline: var(--color_a3_hare) 1px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.quizGame_middle_answer1_image {
  background-color: var(--color_e6_macaw);
  height: 20vh;
  width: 20vw;
  outline: var(--red) 1px solid;
}
.quizGame_middle_answer1_text {
  height: 15px;
  width: 25vw;
  text-align: center;
}
.quizGame_middle_answer2 {
  background-color: var(--color_a1_polar);
  height: 25vh;
  width: 25vw;
  outline: var(--color_a3_hare) 1px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.quizGame_middle_answer2_image {
  background-color: var(--color_e6_macaw);
  height: 20vh;
  width: 20vw;
  outline: var(--color_a1_polar) 1px solid;
}
.quizGame_middle_answer2_text {
  height: 15px;
  width: 25vw;
  text-align: center;
}
.quizGame_middle_answer3 {
  background-color: var(--color_a1_polar);
  height: 25vh;
  width: 25vw;
  outline: var(--color_a3_hare) 1px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.quizGame_middle_answer3_image {
  background-color: var(--color_e6_macaw);
  height: 20vh;
  width: 20vw;
  outline: var(--color_a1_polar) 1px solid;
}
.quizGame_middle_answer3_text {
  height: 15px;
  width: 25vw;
  text-align: center;
}
.quizGame_middle_answer4 {
  background-color: var(--color_a1_polar);
  height: 25vh;
  width: 25vw;
  outline: var(--color_a3_hare) 1px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.quizGame_middle_answer4_image {
  background-color: var(--color_e6_macaw);
  height: 20vh;
  width: 20vw;
  outline: var(--color_a1_polar) 1px solid;
}
.quizGame_middle_answer4_text {
  height: 15px;
  width: 25vw;
  text-align: center;
}

.quizGame_bottom {
  background-color: var(--color_a1_polar);
  height: 15vh;
  width: 100vw;
  outline: var(--color_a3_hare) 1px solid;
  display: flex;
  justify-content: center;
}
.quizGame_bottom_container_skipButton_AND_checkButton {
  background-color: var(--color_a1_polar);
  height: 15vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quizGame_bottom_skipButton {
  height: 10vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px; /* rounded corner */
  box-shadow: 0 0 3px 0 var(--color_a3_hare); /* outlines element */
}
.quizGame_bottom_skipButton:hover {
  background-color: var(--color_a2_swan);
}
.quizGame_bottom_skipButton_text {
  height: 15px;
  width: 15vw;
  text-align: center;
}
.quizGame_bottom_checkButton {
  background-color: var(--color_a2_swan);
  height: 10vh;
  width: 25vw;
  border-radius: 25px; /* rounded corner */
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizGame_bottom_checkButton_text {
  background-color: var(--color_a2_swan);
  height: 15px;
  width: 15vw;
  text-align: center;
}
